@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --purple: #49007c !important;
  --green: #00ff80 !important;
  --white: #ffffff !important;
}

body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: 11vh;
  background: var(--purple);
}

.header { 
  background: var(--purple);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header img {
  max-width: 200px;
  width: 200px;
  height: 50px;
  display: block;
}

.menu {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.menu li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--white) !important; 
  font-size: 16px;
}

.menu li a:hover {
  color: var(--green) !important;
}


@media screen and (max-width: 768px) {
  
  .line {
    width: 30px;
    height: 3px;
    background: #ffffff;
    margin: 5px;
    margin-right: 20px;
  }
  
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .menu {
    position: fixed;
    background: var(--purple) !important;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
  }

  .menu.open {
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    pointer-events: all;
  }

  .menu li {
    opacity: 0;
  }

  .menu li a {
    font-size: 25px;
  }
}
